@import "variables";
@import "general-style";

.todolist {
  &-wrapper {
    width: $wrapper_width;
    height: $wrapper_height;
    margin: auto;
    padding: 10px;
    background: #F0F0F0;
  }
  &__user {
    height: 80px;
  }
  &__input{
    height: 30px;
  }
  &__button{
    width: $button_width;
    height: $button_height;
    display: block;
  }
  &__output-list {
    margin: 0;
    height: 200px;
    overflow: auto;
    -webkit-padding-start: 30px;
    background: #FFFFFF;
  }
  &-checked {
    text-decoration: line-through;
  }
}

